header{
    background: #FE5550;
    
    color: #fff;
}
header .title{
    padding:10px  10px 0;
}
header .user{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-right: 5px;
}
header .text-ellipsis{
    width: 112px;
}
.lv{
    width:50px;
    height:22px;
    background:rgba(255,255,255,1);
    border-radius:10px;
    color: #F85D5D;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.white-arrow{
    width: 5px;
}
.headerList{
    background: rgba(255,255,255,0.2);
    line-height: 15px;
    padding: 12px 0;
    color: #fff;
}
.headerProfit{
    padding: 23px 0;
    color: #fff;
}
.b-r-white{
    border-right: 1px solid #fff;
}
.white-arrow{
    margin-left: 5px;
}
.icon-tip img {
    width: 15px;
    height: 12px;
    margin-right: 5px;
}
.merqueeCont {
    background: #fff;
	padding: 10px;
}

.merquee {
	height: 25px;
	line-height: 25px;
	box-sizing: border-box;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
}

.merquee-txt {
	display: inline-block;
	padding-left: 0%;
	/* 从右至左开始滚动 */
	animation: marqueeTransform 16s linear infinite;
}

@keyframes marqueeTransform {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
.banner{
    padding: 15px 10px 5px;
}
.banner img{
    width: 98%;
}
.indexList{
    background: #fff;
    margin: 15px 0 15px;
    padding: 20px 0 10px;
}
.indexList ul li{
    padding-left: 10px;
    margin-bottom: 15px;
}
.indexList ul li a img{
    width: 15px;
    height: 15px;

}
.indexList ul li a{
    color: #666;
}
.indexList ul li a img.icon{
    margin-top: 4px;
    margin-right: 5px;
}
.indexList ul li a .text{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    width: 100%;
    padding-right: 10px;
}
.indexList ul li:last-child{
    margin-bottom: 0;
}
.indexList ul li:last-child a .text{
    border-bottom: none;
}
.indexList ul li a .text .grayArrow{
    width: 6px;
    margin-left: 5px;
    height: inherit;
    position: relative;
    top: 1px;
}
.indexTip{
    padding: 0 10px 20px;
}
.indexTip p:first-child{
    font-size: 16px;
}
.indexTip p{
    font-size: 12px;
}
.top{
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding:0 15px;
    color: #fff;
    background: #F85D5D;
}
.top>a{
    color: #fff;
}
.top .arrowImg{
    width: 9px;
}
.task{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.taskList{
    padding: 15px 10px;
}
.taskList ul li{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.taskList ul li:last-child{
    border-bottom: none;
}
.taskList ul li .title{
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}
.taskList ul li .left{
    width: 70%;
    padding-right: 20px;
}
.taskList ul li .right img{
    width: 15px;
    margin-right:5px;
}
.taskList ul li .right a{
    width: 80px;
    height: 22px;
    background: rgba(248,93,93,1);
    border-radius: 22px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    color: #fff;
    margin-top: 5px;
}
.taskList ul li .right a.ban{
    background: #999;
}
.numBg {
	background: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.doubleCardBg {
	width: 100%;
	padding: 265px 10px 0 10px;
}

.popupDoubleCard {
	background: url(../img/popupDoubleCard.png) no-repeat;
	width: 258px;
	height: 272px;
	background-size: 100%;
}

.doubleCardBg .bigBtnBorder {
	font-size: 14px;
	height: 35px;
	margin: 0;
	margin-right: 10px;
	border-radius: 200px;
	background: -webkit-linear-gradient( right, #fff 0%, #fff 100%), -webkit-linear-gradient( right, #fdbe80 0%, #f74d8c 100%);
	background-clip: content-box, padding-box;
}

.doubleCardBg .bigBtn {
	margin: 0;
	height: 35px;
	font-size: 14px;
	border-radius: 200px;
}
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.popup .popupContent {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.popup .popupContent .closeImg {
	margin-top: 36px;
	width: 36px;
	height: 36px;
}
.popup .text{
    background: rgba(248,93,93,1);
    width: 80%;
    margin: auto;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.popup .text .textContent{
    border: 2px dashed #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.copyBtn{
    background: #fff;
    display: block;
    margin: 20px -20px -20px -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.copyBtn>a{
    width: 100%;
    height: 40px;
    background: rgba(248,93,93,1);
    border-radius: 22px;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    line-height: 40px;
}

.popup .qrCode{
    background: #fff;
    padding: 20px;
    width: 80%;
    text-align: center;
}
.popup .qrCode .c-red{
    color: #FF0000;
}
.popup .qrCode p:last-child{
    font-size: 12px;
    line-height: 20px;
}
.popup .qrCode img{
    width: 260px;
    height: 260px;
}

.profitListContent>li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.profitListTitle.cashRecord-Pb {
    border-bottom: 1px solid #eee;
    height: 40px;
}
/*邀请好友*/
/*invite*/

.invite .bg-title {
	background: url(../img/bg-title.jpg) no-repeat top;
	height: 658px;
	width: 100%;
	background-size: 100%;
	padding-top: 350px;
}

.bg-title .line,
.red-bg .line {
	background: url(../img/line.png) no-repeat;
	height: 6px;
	width: 100%;
	background-size: 100%;
	text-align: center;
	color: #FDF2A5;
	font-size: 18px;
	line-height: 5px;
}

.red-bg {
	background: url(../img/red-bg.jpg) top;
	width: 100%;
	background-size: 100%;
	margin-top: -50px;
	padding-bottom: 20px;
}

.achievement {
	padding: 25px 10px;
}

.result {
	width: 100%;
	height: 116px;
	margin: 0 5px;
	background: rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 20px 1px rgba(255, 88, 88, 1);
	border-radius: 10px;
	position: relative;
}

.result .lineTitle {
	text-align: center;
	position: relative;
	margin: 12px 25px;
}

.result .lineTitle p {
	line-height: 18px;
}

.result .lineTitle:before,
.result .lineTitle:after {
	content: "";
	width: 15px;
	height: 2px;
	display: inline-block;
	background: #D5D5D5;
	position: absolute;
	top: 48%;
}

.result .lineTitle:before {
	left: 0;
}

.result .lineTitle:after {
	right: 0;
}

.invitationBtn>a {
	width: 255px;
	height: 45px;
	background: linear-gradient(90deg, rgba(240, 152, 25, 1) 0%, rgba(237, 222, 93, 1) 100%);
	border-radius: 45px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}

.invitationText {
	padding: 15px 10px;
}

.invitationText p {
	line-height: 22px;
}

.developmentsList {
	margin: 15px 15px 0;
}

.developmentsList>ul {}

.developmentsList>ul>li {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-top: 5px;
}

.developmentsList>ul>li:last-child {
	border-bottom: none;
}

.developmentsList>ul>li img {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #EEEEEE;
}

.developmentsList>ul>li p.text-ellipsis {
	font-size: 12px;
}

.search {
	padding: 0 15px;
	background: #fff;
	height: 60px;
	margin-bottom: 5px;
	position: relative;
}

.search>img {
	width: 15px;
}

.search input {
	height: 60px;
	background: #fff;
	border: none;
	color: #666;
	width: 15%;
	text-align: left;
	padding-left: 10px;
}

.friendList {}

.friendList>ul {}

.friendList>ul>li {
	margin-bottom: 10px;
}

.friendList>ul>li>i.default {
	background: url(../img/hollow.png) no-repeat;
}

.friendList>ul>li>i.not-optional {
	background: url(../img/gray-solid.png) no-repeat;
}

.friendList>ul>li>i.default,
.friendList>ul>li>i.selection,
.friendList>ul>li>i.not-optional {
	width: 18px;
	height: 18px;
	background-size: 100%;
	margin-right: 20px;
}

.friendList>ul>li.active>i.selection {
	background: url(../img/solid.png) no-repeat;
	background-size: 100%;
}

.friendList>ul>li img {
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin-right: 10px;
}

.friendList>ul>li .text {
	border-bottom: 1px solid #eee;
	flex: 1;
	padding: 10px 0;
	word-break: break-all;
}

.searchList {
	padding: 0 0;
	overflow: auto;
	margin-left: -20px;
}

.searchList>ul {}

.searchList>ul>li {
	padding: 0 5px;
}

.searchList>ul>li>img {
	width: 40px;
	height: 40px;
	border-radius: 4px;
}
.border-bottom{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}
