* {
	box-sizing: border-box;
}
*,html,body{
	margin: 0;
	padding: 0;
	font-style: normal;
}

body {
	font-size: 14px;
	line-height: 22px;
	font-family: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Heiti SC",  "WenQuanYi Micro Hei";
	color: #666;
	background: #F8F8F8;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-size: 100%;
	font-weight: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

fieldset,
img {
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
	background: none;
	 -webkit-tap-highlight-color: transparent; outline: none;
}
.underline{
	text-decoration: underline;
}

ul,
ol {
	list-style: none;
}

:focus {
	outline: none;
}
button{
	border: none;
}

.clearfix {
	zoom: 1;
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clear {
	clear: both;
}
.relative{
	position: relative;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.df {
	display: flex;
}

.flex-1 {
	flex: 1
}

.jc {
	justify-content: center;
}

.jsb {
	justify-content: space-between;
}

.jfs {
	justify-content: flex-start;
}

.jfe {
	justify-content: flex-end;
}

.ac {
	align-items: center;
}

.afs {
	align-items: flex-start;
}

.afe {
	align-items: flex-end;
}

.fc {
	flex-direction: column;
}

.fw {
	flex-wrap: wrap;
}
.c-white{
	color: #fff!important;
}
.c-blue{
	color: #1173d4!important;
}
.c-green{
	color: #00DD10!important;
}
.c-red{
	color: #FF2424!important;;
}
.c-black{
	color: #333!important;;
}
.c-gray{
	color: #999!important;
}
.c-pink{
	color: #F74B8C!important;;
}

.border-right{
	border-right: 1px solid #eee;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.show{
	display: block;
}
.inlineBlock{
	display: inline-block;
}
.hide{
	display: none;
}
.width100 {
	width: 100%;
}
.width50 {
	width: 50%;
}
.m-auto{
	margin: auto;
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font15 {
	font-size: 15px!important;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
.font20 {
	font-size: 20px;
}
.font24 {
	font-size: 24px;
}
.font26 {
	font-size: 26px;
}
.font30 {
	font-size: 30px;
}
.font-bold{
	font-weight: bold;
}
.font-500{
	font-weight: 500;
}

.p-b-45{
	padding-bottom: 45px;
}
.p-20{
	padding: 15px;
}
.p-b-5{
	padding-bottom: 5px;
}
.p-t-b-10{
	padding: 10px 0;
}
.p-t-b-20{
	padding: 20px 0!important;
}
.p-t-b-15{
	padding: 15px 0;
}
.p-t-b-10{
	padding: 10px 0;
}
.p-r-0{
	padding-right: 0;
}
.p-l-r-10{
	padding: 0 10px;
}
.p-l-r-15{
	padding: 0 15px;
}
.p-r-20{
	padding-right: 20px;
}
.p-r-30{
	padding-right: 30px;
}
.p-b-15{
	padding-bottom: 15px;
}
.p-t-5{
	padding-top: 5px;
}
.p-t-10{
	padding-top: 10px;
}
.m-15{
	margin: 15px;
}
.m-t-b-10{
	margin: 10px 0;
}
.m-l-r-10{
	margin: 0 10px;
}
.m-l-r-20{
	margin: 0 20px;
}
.m-b-5{
	margin-bottom: 5px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-50 {
	margin-bottom: 50px;
}
.m-r-5{
	margin-right: 5px;
}
.m-l-5{
	margin-left: 5px;
}
.m-r-10{
	margin-right: 10px;
}
.m-l-10{
	margin-left: 10px;
}
.m-t-15{
	margin-top: 15px;
}
.m-t-25{
	margin-top: 25px;
}
.m-t-35{
	margin-top: 35px;
}
.m-b-25{
	margin-bottom: 25px;
}
.m-b-35{
	margin-bottom: 35px;
}
.m-b-20{
	margin-bottom: 20px;
}

.bg-white{
	background: white!important;
}
.textIndex{
	text-indent: 20px;
}
.border-r-5{
	border-radius:5px ;
}
.text-ellipsis{
	overflow: hidden;
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
    white-space:nowrap;
}
.line-height-28{
	line-height: 28px;
}
.border-bottom{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}
.grayBtn,
.blueBtn,
.orangeBtn,
.purpleBtn,
.redBtn,
.greenBtn,
.yellowBtn,
.gradualBtn{
	color: #fff;
	border-radius: 6px;
	padding: 1px 20px;
	
}
.redBtn{
	background: #FA3C31;
}
.yellowBtn{
	background: #FEAF26;
}
.greenBtn{
	background:#43C845;
}
.orangeBtn-gradual{
	background: linear-gradient(90deg,rgba(252,119,66,1),rgba(253,83,41,1));
	color: #fff;
}
.gradualBtn {
    background: linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
}
.purpleBtn{
	background: #694EFF;
}
.grayBtn{
	background: #999;
}
.blueBtn{
	background: #1173d4;
	border: 1px solid #1173d4;
	
}
.darkGrey{
	background: #999;
}
.gradualBtn{
	background:linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
}
.blockBtn{
	border-radius: 200px;
    height: 40px;
}
.radiusBtn{
	border-radius: 200px;	
}
.radiusBtnSmall{
	border-radius: 6px;	
}
.smallBtn{
	height: 28px;
    line-height: 28px;
}
.lineBtn{
	background: #fff;
	color: #1173d4;
	border: 1px solid #1173d4;
}
.swiper-container {
    margin: 2%;
    width: 96%;
    border-radius: 6px;
	height: 100%;

  }
  .border-radius{
	  border-radius: 100%;
  }
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: 0px!important;
  }
  :root {
    --swiper-theme-color: #ffffff!important;
}
.a-margin-15{
	margin: 0 15%;
}
.line-clamp-1{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.line-clamp-2{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media screen and (max-width: 320px){
	.team .blueBtn{
		padding: 1px 5px;
	}
	.topCont{
		padding: 5px 20px!important;
		font-size: 12px;
	}
	.topCont .font30{
		font-size: 25px;
    	padding: 5px 0;
	}
	.personalCenter .m-t-75 {
		margin-top: 50px;
	}
	.reBg .contImg img {
		width: 300px;
	}
	.reBg form {
		margin-top: 150px!important;
	}
	#longinTip img{
		padding: 20px 10px!important;
	}
	.st-qrCode img{
		width: 100px!important;
		height: 100px!important;
		margin-top: 70px!important;
	}
	.st-share-btn img{
		width: 200px!important;
		height: 50px!important;
	}
	.LandingBg {
		width: 100%!important;
	}
	.LandingInput input {
		width: 43%!important;
	}
	.Landing-red-envelopes {
		margin-left: -35px!important;
	}
}
@media screen and (min-width: 414px){
	.st-qrCode img {
		margin-top: 90px!important;
	}
	.st-share-btn img {
		margin-top: 70px!important;
	}
	.Landing-red-envelopes {
		margin-left: 0!important;
	}
}
@media screen and (min-width:768px){
	.Landing-red-envelopes {
		margin: auto!important;
	}
}

