header {
	color: #fff;
	background:linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
	width: 100%;
	height: 44px;
	padding: 0 15px;
	position: fixed;
    top: 0;
	left: 0;
	z-index: 9;
}
header a{
	color: #fff;
}
header p{
	font-size: 16px;
    font-weight: 500;
}
header a img{
	width: 8px;
	opacity: 0;
}
.content{
	padding-top: 44px;
	padding-bottom:53px;
}
.state{
	height: 50px;
	background: #fff;
}
.title{
	font-size: 16px;
	color: #333;
	margin: 10px 0;
}
.title::before{
	content: "";
    height: 16px;
    position: relative;
    width: 3px;
    background: #1173d4;
    display: inline-block;
    margin-right: 5px;
    top: 2px;
}
.bgShow{
	background: rgba(255,255,255,1);
    box-shadow: 0px 2px 4px 0px rgba(23, 118, 213, 0.38);
    border-radius: 6px;
}
.indexBg{
	background: url(../img/indexImg/index-bg1.png) #fff;
    background-repeat: no-repeat;
    height: 238px;
    background-size: contain;
    width: 100%;
    background-position: right;
}
.profit .space{
	border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 7px;
}
.profit .space:last-child{
	border-bottom: none;
}
.rowHeight{
	line-height: 16px;
}
.team .bgShow{
	padding: 20px 10px;
}
.team a:first-child{
	margin-right: 5px;
}
.team a:last-child{
	margin-left: 5px;
}
.extend ul li{
	width: calc(100%/4);
	float: left;
	text-align: center;
}
.extend ul li a{
	color: #666;
}
.notice .right {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	top: 5px;
}
.notice .right-arrow1,
.notice .right-arrow2 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-top: 6px transparent dashed;
	border-right: 6px transparent dashed;
	border-bottom: 6px transparent dashed;
	border-left: 6px white solid;
	overflow: hidden;
}
.notice .right-arrow1 {
	left: 1px;
	/*重要*/
	border-left: 6px #999 solid;
}
.notice .right-arrow2 {
	border-left: 6px white solid;
}
.notice a p:first-child{
	padding-right: 20px;
	color: #999;
}
.notice ul li{
	display: block;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
}
.notice ul li a,
.barIcon ul li a{
	color: #666;
}
.notice ul li:last-child{
	border-bottom: none;
}
.barIcon {
	background: #fff;
    border-top: 1px solid #eee;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.barIcon ul li{
	width: calc(100%/4);
	float: left;
	text-align: center;
}
.barIcon ul li a{
	font-size: 12px;
}
.barIcon ul li a img{
	margin: auto;
}
.barIcon ul li a img:first-child,
.barIcon ul li.active a img:nth-child(2){
	display: block;
}
.barIcon ul li a img:nth-child(2),
.barIcon ul li.active a img:first-child{
	display: none;
}
.barIcon ul li.active a p{
	color: #333;
}