header {
	color: #fff;
	background:linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
	width: 100%;
	height: 45px;
	padding: 0 15px;
	position: fixed;
    top: 0;
	left: 0;
	z-index: 9;
}
header a{
	color: #fff;
}
header p{
	font-size: 14px;
    font-weight: 500;
}
header a img{
	width: 15px;
	height: 15px;
}
.opacity-0{
	opacity: 0;
}
.content{
	padding-top: 44px;
	padding-bottom:53px;
}
.contentTop{
	padding-top: 0;
}
.state{
	height: 50px;
	background: #fff;
}
.title{
	font-size: 16px;
	color: #333;
	margin: 10px 0;
}
.title::before{
	content: "";
    height: 16px;
    position: relative;
    width: 3px;
    background: #1173d4;
    display: inline-block;
    margin-right: 5px;
    top: 2px;
}
.titleTop::before{
	top: 0;
}
.titleTop>a>p{
	padding: 1px 10px;
}
.bgShow{
	background: rgba(255,255,255,1);
    box-shadow: 0px 2px 4px 0px rgba(23, 118, 213, 0.38);
    border-radius: 6px;
}
.indexBg{
	background: url(../img/indexImg/index-bg1.png) #fff;
    background-repeat: no-repeat;
	/* height: 360px; */
	padding: 10px;
    background-size: contain;
    width: 100%;
    background-position: right;
}
.profit .space{
	border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 7px;
}
.profit .space .tip{
	position: relative;
    right: -5px;
}
.profit .space:last-child{
	border-bottom: none;
}
.rowHeight{
	line-height: 16px;
}
.rowHeight22{
	line-height: 22px;
}
.team .bgShow{
	padding: 20px 10px;
}
.team a:first-child{
	margin-right: 5px;
}
.team a:last-child{
	margin-left: 5px;
}
.extend ul li{
	width: calc(100%/4);
	float: left;
	text-align: center;
	margin-bottom: 10px;
    height: 70px;
}
.extend ul li a{
	color: #666;
}
.extend ul li a img{
	margin-bottom: 5px;
}
.notice .right {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	top: 5px;
}
.notice .right-arrow1,
.notice .right-arrow2 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-top: 6px transparent dashed;
	border-right: 6px transparent dashed;
	border-bottom: 6px transparent dashed;
	border-left: 6px white solid;
	overflow: hidden;
}
.notice .right-arrow1 {
	left: 1px;
	/*重要*/
	border-left: 6px #999 solid;
}
.notice .right-arrow2 {
	border-left: 6px white solid;
}
.notice a p:first-child{
	padding-right: 20px;
	color: #999;
}
.notice ul li{
	display: block;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
}
.notice ul li a,
.barIcon ul li a{
	color: #666;
}
.notice ul li:last-child{
	border-bottom: none;
}
.barIcon {
	background: #fff;
    border-top: 1px solid #eee;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.barIcon ul li{
	width: calc(100%/5);
	float: left;
	text-align: center;
}
.barIcon ul li a{
	font-size: 12px;
}
.barIcon ul li a img{
	margin: auto;
}
.barIcon ul li a img:first-child,
.barIcon ul li.active a img:nth-child(2){
	display: block;
}
.barIcon ul li a img:nth-child(2),
.barIcon ul li.active a img:first-child{
	display: none;
}
.barIcon ul li.active a p{
	color: #333;
}
.barIcon ul li.moments{
	position: relative;
}
.barIcon ul li.moments a img{
	top: -20px;
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.barIcon ul li.moments a p{
	color: #407AFF;
	padding-top: 20px;
}
.noticeList ul{
	padding: 20px 0;
}
.noticeList ul li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.noticeList ul li:last-child{
	border-bottom: none;
}
.noticeList ul li p{
	color: #333;
	overflow: hidden;
    text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-right: 20px;
}
/*游戏收益详情*/
.yxsy ul {
	padding: 10px 0;
}
.yxsy ul li{
	border-bottom: 1px solid #eee;
    margin: 0 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.yxsy ul li>p{
	text-align: center;
	color: #1173d4;
    border-bottom: 1px solid #eee;
	padding: 5px 0;
	margin-bottom: 10px;
}
.yxsy ul li>div .flex-1{
	border-right: 1px solid #eee;
}
.yxsy ul li>div .flex-1:last-child {
	border-right: none;
}
.zstd .search{
	background: #fff;
	border: 1px solid #1173d4;
    border-radius: 6px;
    margin: 10px 0;
}
.zstd .search input{
	height: 38px;
    border-radius: 6px;
    border: none;
    text-indent: 10px;
	width: 85%;
	color: #333;
}
.zstd .search a{
	border-left: 1px solid #1173d4;
    margin: 5px;
    width: 15%;
	text-align: center;
}
.zstd ul{
	padding: 10px;
	background: #fff;
	border-radius: 6px;
}
.zstd ul li{
	padding: 0 0 20px 0;
}
.zstd ul li:first-child p{
	color: #1173d4;
	font-size: 14px;
}
.zstd ul li p{
	font-size: 12px;
	flex: 1;
	text-align: center;
}

/*自动推广*/
.automaticTitle{
	background-image: url(../img/automatic/automaticBg.png);
	background-repeat: no-repeat;
	height: 180px;
	width: 100%;
    background-size: 100%;
}
.automaticList ul{
	padding: 20px 0 0 0;
}
.automaticList ul li{
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.automaticList ul li p:first-child{
	font-size: 16px;
	padding-bottom: 5px;
    color: #333;
}
.automaticList ul li:last-child{
	border-bottom: none;
}
.automaticList ul li img{
	margin-right: 10px;
}
.onHook .step{
	height: 1px;
    background: #1173d4;
    margin: 30px auto 50px auto;
	width: 90%;
	position: relative;
}
.onHook .step .text{
	text-align: center;
	position: absolute;
	top: -15px;
}
.onHook .step .text:first-child{
	left: -13px;
}
.onHook .step .text:nth-child(2){
	left: 50%;
	transform: translate(-50%,0);
}
.onHook .step .text:nth-child(2) .num{
	background: #6C43D0;
}
.onHook .step .text:nth-child(3) .num{
	background:#A444D0;
}
.onHook .step .text:last-child{
	right: -13px;
}
.onHook .step .text p:first-child{
	width: 30px;
    height: 30px;
    background: #1173d4;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    border: 5px solid #f8f8f8;
    line-height: 20px;
}
.titleTab{
	color: #fff;
    background: linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
    width: 100%;
    height: 40px;
	line-height: 40px;
	position: fixed;
    top: 44px;
}
.titleTab ul li{
	position: relative;
}
.titleTab ul li.active::before{
	content: "";
	background: url(../img/solid-arrow.png);
	width: 10px;
	height: 7px;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 0;
	background-size: contain;
}
.wx-group{
	position: fixed;
    width: 100%;
    bottom: 53px;
    background: #fff;
    padding-bottom: 15px;
}
.contentTabList{
	padding-top: 40px;
	padding-bottom: 20px;
}
.advert ul li{
	box-shadow: 0px 2px 4px 0px rgba(23, 118, 213, 0.38);
	border-radius: 6px;
	margin-bottom: 10px;
}
.manual.advert ul li a>div {
    width: 78%;
}
.commonProblem ul{
	padding: 20px 0;
}
.commonProblem ul li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.commonProblem ul li>p{
	position: relative;
	margin-right: 10px;
	margin-top: 2px;
}
.commonProblem ul li>p>span{
	position: absolute;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -2px);
}
.commonProblem ul li .textList p img{
	transform: rotate(90deg);
	transition:0.5s;
    -webkit-transition:-webkit-transform 0.5s; 
}
.commonProblem ul li.active .textList p img{
	transform: rotate(-90deg);
	-webkit-transform:rotateZ(-90deg);
}
.commonProblem ul li .textList p span{
	padding-right: 30px;
	color: #333;
	font-weight: 500;
}
.commonProblem ul li .textList .textCont{
	display: none;
	padding-top: 8px;
}
.rate ul {
	padding: 20px 0;
}
.rate ul li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.rate ul li div img:first-child,
.rate ul li.active div img:last-child{
	display: block;
}
.rate ul li div img:last-child,
.rate ul li.active div img:first-child{
	display: none;
}

/*手动推广*/
.manual ul li{
    background: #fff;
    border-radius: 6px;
	padding: 15px 10px;
	margin-bottom: 15px;
}
.manual ul li a>div{
	width: 72%;
}
.manual ul li .leftImg{
	position: relative;
}
.manual ul li .leftImg>img,
.manual.advert ul li img {
	border-radius: 5px;
}
.manual ul li .leftImg .manualIcon{
	position: absolute;
	left: 0;
	top: 0;
}
.manual ul li .text{
	padding: 0 20px 0 10px;
}
.manual ul li img{
	display: block;
}
.manual ul li .text p:first-child{
	color: #333;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.manual ul li .text p:last-child{
	color: #999;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.manual ul li a .right{
	font-size: 12px;
    padding: 0;
	text-align: center;
	padding: 0 10px;
}
.manual ul li a:last-child{
	margin-top: 5px;
}
/*个人中心*/
.personalCenter .top{
	height:100px;
	background:linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
}
.topCont{
	background: url(../img/personal/personal-bg.png);
	background-repeat: no-repeat;
	height: 181px;
	background-size: contain;
	margin: 0 10px;
	padding: 15px 20px;
}
.topCont .border-right{
	border-right: 1px solid #1173d4;
}
.border-right-blue{
	border-right: 1px solid #227bd6;
}
.m-t-75{
	margin-top: 75px;
    margin-bottom: 25px;
}
.personalCenter ul li{
	padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.personalCenter ul li a div img{
	margin-right: 5px;
}
.personalCenter ul li a div p{
	color: #000;
}
.personalCenterTab{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px;
	padding-top: 20px;
}
.personalCenterTab a{
	position: relative;
}
.personalCenterTab a.active::before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -11px;
    width: 30%;
    height: 2px;
    display: inline-block;
    z-index: 1;
    background: #1173d4;
    transform: translate(-50%, 0);
}
.personaTabList ul li{
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
}
.personaTabList ul li>div>p:first-child{
	color: #333;
	font-weight: bold;
}
.personaTabList ul li>div>p:last-child{
	font-size: 12px;
}
.personaTabList ul li>p{
	font-size: 18px;
	font-weight: bold;
	color: #1173d4;
}
.personalCenter form{
	padding-top: 20px;
}
.personalCenter form .pwdCont{
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
    margin-bottom: 10px;
}
.feedback ul li{
	padding: 0 10px 0 0;
	width: calc(100%/3);
	float: left;
	text-align: center;
	/* margin-bottom: 10px; */
}
.feedback ul li a{
	background: #fff;
    color: #999;
    border-radius: 6px;
    display: block;
    padding: 2px 0;
    border: 1px solid #999;
}
.feedback ul li.active a{
    border: 1px solid #1173d4;
    color: #1173d4;
}
.feedback textarea,
.feedback input{
	background: #E1E1E1;
	border:1px solid #e1e1e1;
	border-radius: 6px;
	color: #333;
	padding-left: 10px;
}
.feedback textarea{
	padding-top: 10px;
	background: #fff;
	border:1px solid #eee;
	color: #999;
	font-size: 12px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.feedback input{
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}
.feedbackFoot{
	position: fixed;
    bottom: 0;
    height: 50px;
    background: #fff;
    width: 100%;
}
.feedbackFoot>a{
	font-size: 14px;
}
.feedbackFoot>a.active{
	color: #1173d4;
}
.feedbackFoot>a>p>img{
	margin-right: 5px;
}
.feedbackFoot>a>p>img:first-child,
.feedbackFoot>a.active>p>img:last-child{
	display: block;
}
.feedbackFoot>a>p>img:last-child,
.feedbackFoot>a.active>p>img:first-child{
	display: none;
}
.reply{
	padding: 20px 0;
}
.reply .titleTime{
	background: rgba(209,209,209,1);
    border-radius: 4px;
    display: inline-block;
    padding: 0 10px;
	color: #fff;
	font-size: 12px;
}
.reply .replyContent{
	margin: 15px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 20px;
}
.reply .replyContent p:first-child{
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.reply .replyContent p:last-child{
	font-size: 12px;
    color: #999;
    line-height: 20px;
}
.personalCenter form .pwdCont p,
.personalCenter form .pwdCont input{
	font-size: 14px;
	color: #333;
	height: 30px;
	line-height: 30px;
}
.wx-gzh .wxImg{
    margin: 10px 20px;
}
.otherAccounts form{
	padding: 25px 0;
}
.otherAccounts form dl{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.otherAccounts form dt{
	float: left;
    width: 55px;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #1173d4;
	margin-right: 15px;
	margin-top: 6px;
}
.otherAccounts form dd input{
	border: none;
    height: 35px;
    line-height: 35px;
    width: 75%;
}
.popup,
.popup-2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.popup .popupContent,
.popup-2 .popupContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}
.popup .popupContent .popupContentImg,
.popup-2 .popupContent .popupContentImg{
	background: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	width: 100%;
}
.popup .popupContent .closeImg,
.popup-2 .popupContent .closeImg {
	margin-top: 36px;
}
.popup-2 .popupContentImg p.font18{
	border-bottom: 1px solid #1173d4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.popup-2 ul li{
	text-align: left;
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.popup-2 ul li:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.indexPopup{
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.indexInfo{
	padding: 20px;
    background: #fff;
    position: absolute;
    z-index: 11;
    width: 80%;
    border-radius: 6px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
	top: 50%;
	text-align: left;
}
/*登录注册*/
.login{
	background: url(../img/login/loginBg.png) no-repeat;
	width: 100%;
	height: 667px;
	background-size:100% 100% ;
}
.p-t-80{
	padding-top: 80px;
}
.loginCont{
	margin-top: -10px;
}
.login>div>p{
	letter-spacing: 6px;
	font-weight: 500;
	padding-top: 10px;
}
.login form{
	padding-top: 60px;
	margin: 0 43px;
}
.loginForm{
	padding-bottom: 25px;
	position: relative;
}
.loginForm:last-child{
	padding-bottom: 10px;
}
.loginForm input{
	border: none;
	border-bottom: 1px solid #eee;
	width: 100%;
	height: 40px;
	background: transparent;
	color: #666;
}
.loginForm img{
	margin-right: 10px;
}
.loginForm .verification img{
    width: 60px;
    height: 22px;
    position: absolute;
    right: 0;
    margin-right: 0;
}
.loginBtn>button{
	height: 40px;
    background: linear-gradient(0deg,rgba(0,104,183,1),rgba(101,164,255,1));
    border-radius: 42px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	border: none;
}
.registerBtn>button{
	background: #fff;
    border: 1px solid #1173d4;
    color: #1173d4;
}
.forgetPsw{
	position: relative;
    top: -20px;
    font-size: 12px;
}
.reBg{
	background: url(../img/login/reBg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 2157px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.reBg>img{
	padding-top: 12px;
}
.reBg form{
	margin: 0 15px;
	margin-top: 170px;
}
.loginBtn.reBtn>button {
	background: #0067EF;
}
.reBg .contImg{
	margin-top: 25px;
}
.reBg .contImg img{
	margin-bottom: 30px;
}
.reBg .contImg img:last-child{
	margin-bottom: 0;
}
.reBg .loginForm {
    padding-bottom: 0;
    position: relative;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
}
.reBg .loginForm  input{
	border-bottom: 0;
}
.reBg .loginForm  img {
    margin-right: 10px;
    margin-left: 10px;
}

.profit-p{
	margin-top: 10px;
    font-weight: bold;
    color: #333;
}
.profit-p::before{
	content:"";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #1173d4;
	display: inline-block;
	margin-right: 5px;
}
.sysmBg{
	background: #999999;
    border-radius: 6px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.sysmBg>div{
	padding: 10px;
    background: #fff;
    margin: 10px;
    border-radius: 6px;
}
.load{
	width: 195px;
    height: 195px;
    background: rgba(255,255,255,0.8);
    vertical-align: middle;
    position: absolute;
    text-align: center;
    line-height: 195px;
}
.load img,
.startTaskLoad img{
	animation: rotate 3s linear infinite;  
}
#longinTip a{
	position: absolute;
    bottom: 12%;
    width: 80%;
    margin: auto;
}
#longinTip img{
	padding: 70px 10px;
}
@keyframes rotate{from{transform: rotate(0deg)}
to{transform: rotate(360deg)}
}

.startupPage{
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(../img/startupPage.png) #fff no-repeat;
	background-size: 100% 100%;
}
/* .startupPage img:first-child{
	margin-top:76px;
} */
.record ul{
	padding-top: 20px;
}
.record ul li{
	border-bottom: 1px solid #eee;
	padding: 0 15px 10px 15px;
	margin-bottom: 10px;
}
.record ul li p span:first-child{
	font-size: 15px;
	color: #333;
	font-weight: bold;
}
.record ul li p:last-child{
	text-align: right;
}
.red-envelopes-open{
	position: absolute;
    bottom: 22%;
    left: 38%;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 100%;
    color: transparent;
}
.red-envelopes-bg{
	background: url(../img/red-envelopes-2.png) no-repeat;
	width: 283px;
	height: 246px;
	background-size: 100% 100%;
}
.red-envelopes-bg p{
	text-align: center;
}
.red-envelopes-bg p:first-child{
	color: #A96F41;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 25px;
}
.red-envelopes-bg p:nth-child(2){
	font-weight: bold;
	font-size: 50px;
}
.red-envelopes-bg p:last-child{
	font-size: 12px;
    color: #FFD899;
    padding-top: 55px;
    padding: 55px 60px 0;
    line-height: 19px;
}
.guide1{
	background: url(../img/guide/guide1-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide2{
	background: url(../img/guide/guide2-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide2-1{
	background: url(../img/guide/guide2-1-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide2-2{
	background: url(../img/guide/guide2-2-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide3{
	background: url(../img/guide/guide3-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide4{
	background: url(../img/guide/guide4-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide4-1{
	background: url(../img/guide/guide4-1-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide5{
	background: url(../img/guide/guide5-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
.guide1 .bottom{
	position: absolute;
    bottom: 0;
    left: 0;
}
.linkA{
	text-align: center;
}
.linkA a{
	margin-right: 15px;
}
.linkA.m-r-0 a{
	margin-right: 0px;
}
.linkA a img{
	width: 120px;
}
/*排行榜*/
.rankingList{}
.rankingList .rankTitle{
	display: flex;
    justify-content: center;
	font-size: 15px;
	padding: 15px 0;
}
.rankingList .rankTitle p.active{
	color: #1173d4;
}
.rankingList .rankTitle>span{
	padding: 0 10px;
	color: #1173d4;
}
.rankingList ul{
	background: #fff;
    border-radius: 5px;
    padding: 10px;
}
.rankingList ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.rankingList ul li:last-child{
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.rankingList ul li>p{
	text-align: center;
	width: 10%;
}
.rankingList ul li>p .rankUser{
	width: 28px;
    height: 28px;
    background: #999;
    border-radius: 100%;
    border: none;
}
.rankingList ul li>p:first-child{
	width: 9%;
}
.rankingList ul li>p:nth-child(2){
	width: 10%;
}
.rankingList ul li>p:nth-child(3){
	width: 10%;
}
.rankingList ul li>p:nth-child(4){
	width: 21%;
}
.rankingList ul li>p:nth-child(5){
	width: 20%;
}
.rankingList ul li>p:nth-child(6){
	width: 20%;
}
.subRanking{
	display: flex;
    justify-content: space-between;
	text-align: center;
	padding-bottom: 10px;
}
.subRanking .titleCont{
	flex: 1;
}
.subRanking .titleCont p{
	color: #333;
}
.subRanking .titleCont p.c-red{
	font-weight: 500;
}
.subRanking .titleCont>img{
	margin-top: -25px;
    margin-bottom: 15px;
}
.subRanking .titleCont:nth-child(2){
	box-shadow: 0px -3px 6px -2px #0041a269;
    margin-top: -30px;
    background: #fff;
}.subRanking .titleCont:nth-child(2)>img{
	margin-top: -15px;
    margin-bottom: 15px;
}
.subRanking .titleCont .rankUser{
    width: 44px;
    height: 44px;
    background: #999;
    border-radius: 100%;
	border: none;
	margin-bottom: 10px;
}
.assign{
	height: 50px;
	background: #fff;
	margin-bottom: 20px;
}
.assign>p{

}
.assignSwitch p{
	display: block;
}
.assignSwitch .active{
	display: none;
}
.gameNotice{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	height: 64px;
	padding: 10px;
	z-index: 10;
}
.gameDownload{
	font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,1);
    background: #E75F08;
    padding: 4px 17px;
	border-radius: 5px;
	margin-left: 10px;
}
.gameNotice>div>p>img{
	border-radius: 5px;
	margin-right: 10px;
}
.gameNotice>div>div>p{
	color: #fff;
}
.momentsContent{
	background: url(../img/moments/moments-bg.png) no-repeat;
	/* height: 193px; */
	width: 100%;
	background-size: 100%;
	color: #fff;
}
.momentsContent .momentsLogin{
	color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 30px;
    line-height: 30px;
	padding: 0 10px;
    text-align: center;
}
.momentsStep>ul>li{
	width: calc(100%/3);
    float: left;
    text-align: center;
}
.momentsStep>ul>li:first-child{
	text-align: left;
}
.momentsStep>ul>li:last-child{
	text-align: right;
}
.momentsStep>ul>li:first-child>p.dot{
	margin-left: 15px;
}
.momentsStep>ul>li:last-child>p.dot{
	margin-right: 25px;
}
.momentsStep>ul>li:first-child>p.textP{
	margin-left: 10px;
}
.momentsStep>ul>li:last-child>p.textP{
	margin-right: 20px;
}
.momentsStep>ul>li>p.first-p-img{
	height: 53px;
    line-height: 80px;
}
.momentsStep>ul>li>p.dot{
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 100%;
	display: inline-block;
	position: relative;
    z-index: 2;
}
.progress-bar{
	border-radius: 100px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 2px;
    width: 100%;
    top: -34px;
    z-index: 1;
}
.progress-bar-inne{
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #FFFC19;
    text-align: right;
    border-radius: 100px;
    line-height: 1;
    white-space: nowrap;
    transition: width .6s ease;
}
.task-default .progress-bar-inne{
	width: 9%;
}
.task-one .progress-bar-inne{
	width: 30%;
}
.task-one .momentsStep>ul>li:first-child>p.dot{
	background: #FFFC19;
}
.task-two .progress-bar-inne{
	width: 70%;
}
.task-two .momentsStep>ul>li:first-child>p.dot,
.task-two .momentsStep>ul>li:nth-child(2)>p.dot{
	background: #FFFC19;
}
.task-three .progress-bar-inne{
	width: 100%;
}
.task-three .momentsStep>ul>li p.dot{
	background: #FFFC19;
}
.momentsBanner{
	margin-top: 20px;
}
.momentsBanner a{
	width: 50%;
	display: block;
}
.momentsBanner a:first-child img{
	margin-right: 2%;
}
.momentsBanner a:last-child img{
	margin-left: 2%;
}
.momentsBanner a img{
	width: 98%;
}
.momentsList{
	padding: 10px;
	margin-bottom: 10px;
}
.momentsList p{
	color: #999;
}
.momentsContentNew{}
.momentsTitle .momentsTitleBg{
	background: linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
    width: 100%;
    height: 60px;
}
.momentsTitle>div.p-l-r-10{

    position: relative;
    top: -60px;

}
.momentsTitle .bgShow{
	position: relative;
	top: 10px;
	padding: 10px 0;
	margin-bottom: 10px;
}
.momentsTaskDetail{
	margin: 10px 0 10px 0;
	overflow: hidden;
}
.momentsTaskDetail>ul>li{
	width: calc(100%/3);
    float: left;
}
.momentsTaskDetail>ul{
	margin: 0 5px;
}
.momentsTaskDetail>ul>li>div{
	padding: 5px 5px;
}
.momentsTaskDetail>ul>li>div>img{
	width: 100%;
}
.momentsTaskDetail>ul>li:first-child>div>img{
	border-top-left-radius: 5px;
}
.momentsTaskDetail>ul>li:nth-child(3)>div>img{
	border-top-right-radius: 5px;
}
.momentsTaskDetail>ul>li:nth-child(7)>div>img{
	border-bottom-left-radius: 5px;
}
.momentsTaskDetail>ul>li:nth-child(9)>div>img{
	border-bottom-right-radius: 5px;
}
.stBanner{
	position: relative;
    top: 15px;
}
.st-bg{
	background: url(../img/moments/st-bg.png) #cc032b no-repeat;
	background-size:100% ;
	width: 100%;
	height: 100%;
    position: fixed;
}
.envelopes{
	background: url(../img/moments/envelopes.png) no-repeat;
	background-size:100%;
	width: 100%;
	height: 372px;
}
.st-qrCode{
	text-align: center;
}
.st-qrCode img{
	border-radius: 10px;
	margin-top: 75px;
}
.st-share-btn{
	text-align: center;
    display: block;
}
.st-share-btn img{
	margin-top: 50px;
}
.momentsTaskBtn .blueState,
.momentsTaskBtn .grayState{
	background: linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
    width: 100%;
    height: 45px;
    padding: 0 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    line-height: 45px;
}
.momentsTaskBtn .grayState{
	background: linear-gradient(90deg,rgba(153,153,153,1),rgba(153,153,153,1));
}

.noviceBenefits .top{
	height: 50px;
    background: linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
}
.noviceBenefits ul{
	padding-top: 10px;
}
.noviceBenefits ul li{
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}
.noviceBenefits ul li .flex-1{
	padding-left: 10px;
}
.noviceBenefits ul li.line-red::before,
.noviceBenefits ul li.line-blue::before,
.noviceBenefits ul li.line-orange::before,
.noviceBenefits ul li.line-green::before
{
	content: "";
    width: 5px;
    height: 60%;
    border-top-left-radius: 0;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 200px;
    position: absolute;
    left: 0;

}
.noviceBenefits ul li.line-red::before{
	background: #fe696a;
}
.noviceBenefits ul li.line-blue::before{
	background: #202efe;
}
.noviceBenefits ul li.line-orange::before{
	background: #fdb11d;
}
.noviceBenefits ul li.line-green::before{
	background: #43841f;
}
.noviceBenefits ul li>a{
	
}
.scaleDraw{
	display: block;
	text-align: center;
}
.scaleDraw>img{
	width: 90%;
	-webkit-animation-name: redEnvelopes; /*关键帧名称*/
	/* -webkit-animation-timing-function: ease-in-out;  */
	-webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
	-webkit-animation-duration: 2s; /*动画所花费的时间*/
}
@keyframes redEnvelopes {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
	0%{
		transform: scale(1);  /*开始为原始大小*/
	}
	25%{
		transform: scale(1.1); /*放大1.1倍*/
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.1);
	}
}

.Landing{
	background: url(../img/LandingBg.png) no-repeat;
	width: 100%;
	height: 242px;
	background-size: 100% 100%;
	text-align: center;
    padding-top: 90px;
    color: #fff;
}
.Landing p:first-child{
	font-size: 16px;
}
.Landing p:last-child{
	font-size: 50px;
    padding-top: 25px;
}
@-webkit-keyframes rowup {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -307px, 0);
		transform: translate3d(0, -307px, 0);
	}
}
@keyframes rowup {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -307px, 0);
		transform: translate3d(0, -307px, 0);
	}
}

.Landing-list{
	width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
    padding: 20px;
}
.Landing-list .item{
	color: red;
	line-height: 30px;
	
}
.Landing-list .item::before{
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #999999;
	display: inline-block;
	margin-right: 8px;
	position: relative;
    top: 3px;
}
.Landing-list .rowup{
	-webkit-animation: 10s rowup linear infinite normal;
	animation: 10s rowup linear infinite normal;
	position: relative;
}
.Landing-icon{
	border: 10px solid #f8f8f8;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 10px 0;
}
.LandingInput{
	height: 40px;
    border: 1px solid #3080d4;
    width: 100%;
	text-indent: 10px;
	border-radius: 6px;
	margin-top: 30px;
	margin-bottom: 15px;
}
.Landing-red-envelopes {
    background: url(../img/landing-popup.png) no-repeat;
	width: 286px;
    height: 250px;
    background-size: 100% 100%;
	margin-left: -12px;
	padding-top: 40px;
}
.Landing-red-envelopes p:first-child{
	padding-bottom: 15px;
}
.Landing-red-envelopes p:nth-child(2){
	padding-bottom: 80px;
}
.sx-popup{
	background: url(../img/xs-popup.png) no-repeat;
	width: 346px;
    height: 365px;
	background-size: 100% 100%;
	display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sx-popup img{
	position: relative;
    bottom: 20px;
	-webkit-animation-name: redEnvelopes; /*关键帧名称*/
	/* -webkit-animation-timing-function: ease-in-out;  */
	-webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
	-webkit-animation-duration: 2s; /*动画所花费的时间*/
}
@keyframes redEnvelopes {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
	0%{
		transform: scale(1);  /*开始为原始大小*/
	}
	25%{
		transform: scale(1.1); /*放大1.1倍*/
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.1);
	}
}