header {
	color: #fff;
	background:linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
	width: 100%;
	height: 45px;
	padding: 0 15px;
	position: fixed;
    top: 0;
	left: 0;
	z-index: 9;
}
header a{
	color: #fff;
}
header p{
	font-size: 16px;
    font-weight: 500;
}
header a img{
	width: 15px;
}
.opacity-0{
	opacity: 0;
}
.content{
	padding-top: 44px;
	padding-bottom:53px;
}
.contentTop{
	padding-top: 0;
}
.state{
	height: 50px;
	background: #fff;
}
.title{
	font-size: 16px;
	color: #333;
	margin: 10px 0;
}
.title::before{
	content: "";
    height: 16px;
    position: relative;
    width: 3px;
    background: #1173d4;
    display: inline-block;
    margin-right: 5px;
    top: 2px;
}
.bgShow{
	background: rgba(255,255,255,1);
    box-shadow: 0px 2px 4px 0px rgba(23, 118, 213, 0.38);
    border-radius: 6px;
}
.indexBg{
	background: url(../img/indexImg/index-bg1.png) #fff;
    background-repeat: no-repeat;
    height: 295px;
    background-size: contain;
    width: 100%;
    background-position: right;
}
.profit .space{
	border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 7px;
}
.profit .space .tip{
	position: relative;
    right: -5px;
}
.profit .space:last-child{
	border-bottom: none;
}
.rowHeight{
	line-height: 16px;
}
.team .bgShow{
	padding: 20px 10px;
}
.team a:first-child{
	margin-right: 5px;
}
.team a:last-child{
	margin-left: 5px;
}
.extend ul li{
	width: calc(100%/4);
	float: left;
	text-align: center;
	margin-bottom: 10px;
    height: 70px;
}
.extend ul li a{
	color: #666;
}
.extend ul li a img{
	margin-bottom: 5px;
}
.notice .right {
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	top: 5px;
}
.notice .right-arrow1,
.notice .right-arrow2 {
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-top: 6px transparent dashed;
	border-right: 6px transparent dashed;
	border-bottom: 6px transparent dashed;
	border-left: 6px white solid;
	overflow: hidden;
}
.notice .right-arrow1 {
	left: 1px;
	/*重要*/
	border-left: 6px #999 solid;
}
.notice .right-arrow2 {
	border-left: 6px white solid;
}
.notice a p:first-child{
	padding-right: 20px;
	color: #999;
}
.notice ul li{
	display: block;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
	overflow:hidden; /*超出的部分隐藏起来。*/ 
	white-space:nowrap;/*不显示的地方用省略号...代替*/
	text-overflow:ellipsis;/* 支持 IE */
}
.notice ul li a,
.barIcon ul li a{
	color: #666;
}
.notice ul li:last-child{
	border-bottom: none;
}
.barIcon {
	background: #fff;
    border-top: 1px solid #eee;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.barIcon ul li{
	width: calc(100%/4);
	float: left;
	text-align: center;
}
.barIcon ul li a{
	font-size: 12px;
}
.barIcon ul li a img{
	margin: auto;
}
.barIcon ul li a img:first-child,
.barIcon ul li.active a img:nth-child(2){
	display: block;
}
.barIcon ul li a img:nth-child(2),
.barIcon ul li.active a img:first-child{
	display: none;
}
.barIcon ul li.active a p{
	color: #333;
}
.noticeList ul{
	padding: 20px 0;
}
.noticeList ul li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.noticeList ul li:last-child{
	border-bottom: none;
}
.noticeList ul li p{
	color: #333;
	overflow: hidden;
    text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-right: 20px;
}
/*游戏收益详情*/
.yxsy ul {
	padding: 10px 0;
}
.yxsy ul li{
	border-bottom: 1px solid #eee;
    margin: 0 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.yxsy ul li>p{
	text-align: center;
	color: #1173d4;
    border-bottom: 1px solid #eee;
	padding: 5px 0;
	margin-bottom: 10px;
}
.yxsy ul li>div .flex-1{
	border-right: 1px solid #eee;
}
.yxsy ul li>div .flex-1:last-child {
	border-right: none;
}
.zstd .search{
	background: #fff;
	border: 1px solid #1173d4;
    border-radius: 6px;
    margin: 10px 0;
}
.zstd .search input{
	height: 38px;
    border-radius: 6px;
    border: none;
    text-indent: 10px;
	width: 85%;
	color: #333;
}
.zstd .search a{
	border-left: 1px solid #1173d4;
    margin: 5px;
    width: 15%;
	text-align: center;
}
.zstd ul{
	padding: 10px;
	background: #fff;
	border-radius: 6px;
}
.zstd ul li{
	padding: 0 0 20px 0;
}
.zstd ul li:first-child p{
	color: #1173d4;
	font-size: 14px;
}
.zstd ul li p{
	font-size: 12px;
	flex: 1;
	text-align: center;
}

/*自动推广*/
.automaticTitle{
	background-image: url(../img/automatic/automaticBg.png);
	background-repeat: no-repeat;
	height: 180px;
	width: 100%;
    background-size: contain;
}
.automaticList ul{
	padding: 20px 0 0 0;
}
.automaticList ul li{
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.automaticList ul li p:first-child{
	font-size: 16px;
	padding-bottom: 5px;
    color: #333;
}
.automaticList ul li:last-child{
	border-bottom: none;
}
.automaticList ul li img{
	margin-right: 10px;
}
.onHook .step{
	height: 1px;
    background: #1173d4;
    margin: 30px auto 50px auto;
	width: 90%;
	position: relative;
}
.onHook .step .text{
	text-align: center;
	position: absolute;
	top: -15px;
}
.onHook .step .text:first-child{
	left: -13px;
}
.onHook .step .text:nth-child(2){
	left: 50%;
	transform: translate(-50%,0);
}
.onHook .step .text:nth-child(2) .num{
	background: #6C43D0;
}
.onHook .step .text:nth-child(3) .num{
	background:#A444D0;
}
.onHook .step .text:last-child{
	right: -13px;
}
.onHook .step .text p:first-child{
	width: 30px;
    height: 30px;
    background: #1173d4;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    border: 5px solid #f8f8f8;
    line-height: 20px;
}
.titleTab{
	color: #fff;
    background: linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
    width: 100%;
    height: 40px;
	line-height: 40px;
	position: fixed;
    top: 44px;
}
.titleTab ul li{
	position: relative;
}
.titleTab ul li.active::before{
	content: "";
	background: url(../img/solid-arrow.png);
	width: 10px;
	height: 7px;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 0;
	background-size: contain;
}
.wx-group{
	position: fixed;
    width: 100%;
    bottom: 53px;
    background: #fff;
    padding-bottom: 15px;
}
.contentTabList{
	padding-top: 40px;
	padding-bottom: 20px;
}
.advert ul li{
	box-shadow: 0px 2px 4px 0px rgba(23, 118, 213, 0.38);
	border-radius: 6px;
	margin-bottom: 10px;
}
.manual.advert ul li a>div {
    width: 78%;
}
.commonProblem ul{
	padding: 20px 0;
}
.commonProblem ul li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.commonProblem ul li>p{
	position: relative;
	margin-right: 10px;
	margin-top: 2px;
}
.commonProblem ul li>p>span{
	position: absolute;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -2px);
}
.commonProblem ul li .textList p img{
	transform: rotate(90deg);
	transition:0.5s;
    -webkit-transition:-webkit-transform 0.5s; 
}
.commonProblem ul li.active .textList p img{
	transform: rotate(-90deg);
	-webkit-transform:rotateZ(-90deg);
}
.commonProblem ul li .textList p span{
	padding-right: 30px;
	color: #333;
	font-weight: 500;
}
.commonProblem ul li .textList .textCont{
	display: none;
	padding-top: 8px;
}
.rate ul {
	padding: 20px 0;
}
.rate ul li{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.rate ul li div img:first-child,
.rate ul li.active div img:last-child{
	display: block;
}
.rate ul li div img:last-child,
.rate ul li.active div img:first-child{
	display: none;
}

/*手动推广*/
.manual ul li{
    background: #fff;
    border-radius: 6px;
	padding: 15px 10px;
	margin-bottom: 15px;
}
.manual ul li a>div{
	width: 72%;
}
.manual ul li .leftImg{
	position: relative;
}
.manual ul li .leftImg>img,
.manual.advert ul li img {
	border-radius: 5px;
}
.manual ul li .leftImg .manualIcon{
	position: absolute;
	left: 0;
	top: 0;
}
.manual ul li .text{
	padding: 0 20px 0 10px;
}
.manual ul li .text p:first-child{
	color: #333;
}
.manual ul li .text p:last-child{
	color: #999;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.manual ul li a .right{
	font-size: 12px;
    padding: 0;
    text-align: center;
}
/*个人中心*/
.personalCenter .top{
	height:100px;
	background:linear-gradient(90deg,rgba(48,128,212,1),rgba(108,67,208,1));
}
.topCont{
	background: url(../img/personal/personal-bg.png);
	background-repeat: no-repeat;
	height: 181px;
	background-size: contain;
	margin: 0 10px;
	padding: 15px 20px;
}
.topCont .border-right{
	border-right: 1px solid #1173d4;
}
.m-t-75{
	margin-top: 75px;
    margin-bottom: 25px;
}
.personalCenter ul li{
	padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.personalCenter ul li a div img{
	margin-right: 5px;
}
.personalCenter ul li a div p{
	color: #000;
}
.personalCenterTab{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px;
	padding-top: 20px;
}
.personalCenterTab a{
	position: relative;
}
.personalCenterTab a.active::before{
	content: "";
    position: absolute;
    left: 50%;
    bottom: -11px;
    width: 30%;
    height: 2px;
    display: inline-block;
    z-index: 1;
    background: #1173d4;
    transform: translate(-50%, 0);
}
.personaTabList ul li{
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
}
.personaTabList ul li>div>p:first-child{
	color: #333;
	font-weight: bold;
}
.personaTabList ul li>div>p:last-child{
	font-size: 12px;
}
.personaTabList ul li>p{
	font-size: 18px;
	font-weight: bold;
	color: #1173d4;
}
.personalCenter form{
	padding-top: 20px;
}
.personalCenter form .pwdCont{
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
    margin-bottom: 10px;
}
.feedback ul li{
	padding: 0 10px 0 0;
	width: calc(100%/3);
	float: left;
	text-align: center;
	/* margin-bottom: 10px; */
}
.feedback ul li a{
	background: #fff;
    color: #999;
    border-radius: 6px;
    display: block;
    padding: 2px 0;
    border: 1px solid #999;
}
.feedback ul li.active a{
    border: 1px solid #1173d4;
    color: #1173d4;
}
.feedback textarea,
.feedback input{
	background: #E1E1E1;
	border:1px solid #e1e1e1;
	border-radius: 6px;
	color: #333;
	padding-left: 10px;
}
.feedback textarea{
	padding-top: 10px;
	background: #fff;
	border:1px solid #eee;
	color: #999;
	font-size: 12px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.feedback input{
	height: 40px;
	line-height: 40px;
	margin-bottom: 20px;
}
.feedbackFoot{
	position: fixed;
    bottom: 0;
    height: 50px;
    background: #fff;
    width: 100%;
}
.feedbackFoot>a{
	font-size: 14px;
}
.feedbackFoot>a.active{
	color: #1173d4;
}
.feedbackFoot>a>p>img{
	margin-right: 5px;
}
.feedbackFoot>a>p>img:first-child,
.feedbackFoot>a.active>p>img:last-child{
	display: block;
}
.feedbackFoot>a>p>img:last-child,
.feedbackFoot>a.active>p>img:first-child{
	display: none;
}
.reply{
	padding: 20px 0;
}
.reply .titleTime{
	background: rgba(209,209,209,1);
    border-radius: 4px;
    display: inline-block;
    padding: 0 10px;
	color: #fff;
	font-size: 12px;
}
.reply .replyContent{
	margin: 15px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 20px;
}
.reply .replyContent p:first-child{
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.reply .replyContent p:last-child{
	font-size: 12px;
    color: #999;
    line-height: 20px;
}
.personalCenter form .pwdCont p,
.personalCenter form .pwdCont input{
	font-size: 14px;
	color: #333;
	height: 30px;
	line-height: 30px;
}
.wx-gzh .wxImg{
    margin: 10px 20px;
}
.otherAccounts form{
	padding: 25px 0;
}
.otherAccounts form dl{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.otherAccounts form dt{
	float: left;
    width: 55px;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #1173d4;
	margin-right: 15px;
	margin-top: 6px;
}
.otherAccounts form dd input{
	border: none;
    height: 35px;
    line-height: 35px;
    width: 75%;
}
.popup,
.popup-2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.popup .popupContent,
.popup-2 .popupContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}
.popup .popupContent .popupContentImg,
.popup-2 .popupContent .popupContentImg{
	background: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	width: 100%;
}
.popup .popupContent .closeImg,
.popup-2 .popupContent .closeImg {
	margin-top: 36px;
}
.popup-2 .popupContentImg p.font18{
	border-bottom: 1px solid #1173d4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.popup-2 ul li{
	text-align: left;
	border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.popup-2 ul li:last-child{
	border-bottom: none;
	margin-bottom: 0;
}
.indexPopup{
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.indexInfo{
	padding: 20px;
    background: #fff;
    position: absolute;
    z-index: 11;
    width: 80%;
    border-radius: 6px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
	top: 50%;
	text-align: left;
}
/*登录注册*/
.login{
	background: url(../img/login/loginBg.png) no-repeat;
	width: 100%;
	height: 667px;
	background-size:100% 100% ;
}
.p-t-80{
	padding-top: 80px;
}
.loginCont{
	margin-top: -10px;
}
.login>div>p{
	letter-spacing: 6px;
	font-weight: 500;
	padding-top: 10px;
}
.login form{
	padding-top: 60px;
	margin: 0 43px;
}
.loginForm{
	padding-bottom: 25px;
	position: relative;
}
.loginForm:last-child{
	padding-bottom: 10px;
}
.loginForm input{
	border: none;
	border-bottom: 1px solid #eee;
	width: 100%;
	height: 40px;
	background: transparent;
	color: #666;
}
.loginForm img{
	margin-right: 10px;
}
.loginForm .verification img{
    width: 60px;
    height: 22px;
    position: absolute;
    right: 0;
    margin-right: 0;
}
.loginBtn>button{
	height: 40px;
    background: linear-gradient(0deg,rgba(0,104,183,1),rgba(101,164,255,1));
    border-radius: 42px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	border: none;
}
.registerBtn>button{
	background: #fff;
    border: 1px solid #1173d4;
    color: #1173d4;
}
.forgetPsw{
	position: relative;
    top: -20px;
    font-size: 12px;
}
.reBg{
	background: url(../img/login/reBg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 2157px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.reBg>img{
	padding-top: 52px;
}
.reBg form{
	margin: 0 15px;
	margin-top: 250px;
}
.loginBtn.reBtn>button {
	background: #0067EF;
}
.reBg .contImg{
	margin-top: 25px;
}
.reBg .contImg img{
	margin-bottom: 30px;
}
.reBg .contImg img:last-child{
	margin-bottom: 0;
}
.reBg .loginForm {
    padding-bottom: 0;
    position: relative;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 15px;
}
.reBg .loginForm  input{
	border-bottom: 0;
}
.reBg .loginForm  img {
    margin-right: 10px;
    margin-left: 10px;
}

.profit-p{
	margin-top: 10px;
    font-weight: bold;
    color: #333;
}
.profit-p::before{
	content:"";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #1173d4;
	display: inline-block;
	margin-right: 5px;
}
.sysmBg{
	background: #999999;
    border-radius: 6px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.sysmBg>div{
	padding: 10px;
    background: #fff;
    margin: 10px;
    border-radius: 6px;
}
.load{
	width: 195px;
    height: 195px;
    background: rgba(255,255,255,0.8);
    vertical-align: middle;
    position: absolute;
    text-align: center;
    line-height: 195px;
}
.load img{
	animation: rotate 3s linear infinite;  
}
#longinTip a{
	position: absolute;
    bottom: 12%;
    width: 80%;
    margin: auto;
}
#longinTip img{
	padding: 70px 10px;
}
@keyframes rotate{from{transform: rotate(0deg)}
to{transform: rotate(360deg)}
}

.startupPage{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #F7FBFF;
}
.startupPage img:first-child{
	margin-bottom: 90px;
}
.record ul{
	padding-top: 20px;
}
.record ul li{
	border-bottom: 1px solid #eee;
	padding: 0 15px 10px 15px;
	margin-bottom: 10px;
}
.record ul li p span:first-child{
	font-size: 15px;
	color: #333;
	font-weight: bold;
}
.record ul li p:last-child{
	text-align: right;
}